<div class="row">
  <div class="col md-6 offset-3">
    <h1>
      <%= @user.username %>
    </h1>

    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <%= link_to "Posts", user_path(@user.username), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Liked photos", liked_path(@user.username), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/<%= @user.username %>/feed">Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Followers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Following</a>
      </li>
    </ul>
  </div>
</div>

<%@user.own_photos.each do |photo| %>
  <%= render "photos/photo", photo: photo  %>
<%end%>
<!--
++ The first photos/ -- view template folders in app/views
++ The second photo -- partial in the folder "_photo.html.erb"
++ The third photo -- name of local variable in _photo.html.erb
++ The fouth photo -- block variable object from .each loop we pass into partial (similar to parameters)
-->
